@import '../../../shared/scss/variables.scss';

.contact-me{
  height: 100vh;
  position: relative;
  overflow: overlay;
  background-image: url('../../../../assets/img/greyBrickWall.png');
  background-size: cover;
  background-repeat: no-repeat;

  &__container{
    display: block;
    height: 100vh;
    position: relative;
  }

  &__title,
  &__personal-info{
    margin-left: 1rem;
  }

  &__title{
      margin-bottom: 1rem;
      padding-top: 5rem;
    }

    &__animation{
      position: absolute;
      top: 12rem;
      left: 0;
      right: 0;
    }

    &__personal-info{
      margin-bottom: 1rem;
      position: relative;
      z-index: 999;

        &__title{
          margin: 0;
          color: $facy-letter-color2;
        }

        &__field{
          margin-left: 0.5rem;

        }
    }

    &__form{
      display: flex;
      flex-direction: column;
      align-items: self-end;
      padding: 4rem 1rem;
      backdrop-filter: blur(2px);

        &__field{
          width: 100%;
          margin-bottom: 1rem;
          &__error{
            font-weight: 900;
            color: rgba(216, 8, 8, 0.866);
          }
        }

        &__button{
          padding: 0.5rem 1rem;
          margin-right: 1rem;
          color: $facy-letter-color3;
          border: 0.5px solid $facy-letter-color3;
          border-radius: 5px;
          background-color: transparent;
          transition: 1s ease;
          cursor: pointer;

          &:hover{
            background-color: rgba(102, 102, 102,0.4);
          }
        }
    }

    &__back-btn{
      font-size: 16px;
      font-weight: 200;
      letter-spacing: 1px;
      padding: 13px 20px 13px;
      outline: 0;
      border: 1px solid rgb(0, 0, 0);
      cursor: pointer;
      position: fixed;
      bottom: 1rem;
      background-color: rgba(0, 0, 0, 0);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      z-index: 2;
      margin-left: 1rem;

      &__back-ground{
        background-color: $btn-to-projects-color;
        width: 100%;
        position: absolute;
        z-index: -1;
        height: 100%;
        top: 7px;
        left: 7px;
        transition: 0.2s;

      }
      &:hover {
        .contact-me__back-btn__back-ground{
          rotate: 5deg;
          top: 0px;
          left: 0px;
        }
      }

      &__icon{
        margin-right: 0.3rem;
      }
    }

}

// MEDIA QUERIE
@media (min-width:600px) {
  .contact-me{

    &__form{
      width: 90%;
      max-width:800px;
      backdrop-filter: blur(3px);
    }
  }

}

@media (min-width:801px) {
    .contact-me{
      padding-left: 6rem;
      &__title{
        padding-top: 2rem;
      }
    }

  }

  @media (min-width:975px) {
    .contact-me__animation{
      right: 15%;
      left: auto;
    }
  }
