@import '../../../shared/scss/variables.scss';

@mixin sliceAnimation(){
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
}

.about-me-container,
.about-me__text__skills{
  position: relative;
}
.about-me-container{
  width: 100%;
  overflow: hidden;
}
.about-me{
  padding: 0 1rem;

  &__title{
    margin-bottom: 1rem;
  }

  &__text{
    padding: 0.5rem;
  }

  &__text__title{
    display: block;
    margin: 1rem 0;
  }

  &__cv-download{
    display: block;
    width: 9rem;
    text-decoration: none;
    border: 5px solid;
    border-image: $download-cv-bnt-color 1;
    border-radius: 50px;
    padding: 0.6rem;
    cursor: pointer;
    background-image: $download-cv-bnt-color;
    background-clip: text;
    color: transparent;
    margin: 1rem 0;
    transition: 1s ease-in-out;

    &__icon{
      margin-left: 0.3rem;
    }
    &:hover{
      background-image: $download-cv-bnt-color-hover;
      border-image: $download-cv-bnt-color-hover 1;
    }
  }

  &__text__skills__container{
    font-size: xx-large;
    display: flex;
    flex-wrap: wrap;
  }

  &__text__skills{
    cursor: pointer;

    &:hover .about-me__text__skills__pop-up{
      display: block;
    }
  }

  &__text__skills__pop-up{
    position: absolute;
    display: none;
    background-color: #000;
    white-space: nowrap;
    padding: 0.8rem;
    z-index: 999;


    &::before{
      content: '';
      position: absolute;
      left: 1rem;
      bottom:100%;
      transform: translateX(-50%);
      border: 1rem solid;
      border-color: #0000 #0000 #000 #0000 ;
    }
  }

  &__text__courses{
    margin-bottom: 1rem;
  }

  &__mat-divider{
    margin: 1rem 0;
  }
}

.about-me__btn{
  padding: 0.3rem 1rem;
  position: fixed;
  color: $font-color;
  background-color: transparent;
  border: 0.5px solid $font-color;
  border-radius: 100px;
  transition: 1s ease;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  bottom: 1rem;
  text-shadow: $anaglyph-color;
  transition: 2s;

  &--left{
    left: 1rem;
    transition: 2s;
    &:hover{
      background-color: rgba(0, 0, 0, 0.5);
      &::after{
        content: 'Home';
        text-shadow: $anaglyph-color;
        @include sliceAnimation();
      }

      &:hover:after {
        animation: 1s glitch;
        animation-timing-function: steps(2, end);
      }
    }
  }

  &--right{
    right: 1rem;
    &:hover{
      background-color: rgba(0, 0, 0, 0.5);
      &::before{
        @include sliceAnimation();
        content: 'Projects';
        text-shadow: $anaglyph-color;
      }
      &:hover:before {
        animation: 1s glitch;
        animation-timing-function: steps(2, end);
      }
    }
  }

  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-30px, -20px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(20px, 20px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-20px, 20px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 15px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-15px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(15px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(15px, 20px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-20px, 20px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(30px, -20px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-0px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }

  &__icon{
    padding: 0.5rem;
  }

}

  .about-me__text__skills__icon{
  color: #94d82d;
  margin: 0.5rem;
}

.re-sizing-icons{
  width:2rem;
  margin: 0.3rem;
}

.about-me__anaglyph-efect{
  box-shadow: $anaglyph-color;
}


// MEDIA QUERIEs

@media (min-width:801px) {
  .about-me{
    margin-left: 5.5rem;

    &__text{
     width: 70%;
    }
    &__btn--left{
      left: 7rem;
    }

    &__btn--right{
      right: 2rem;
    }

  }
}

