<section class="about-me-container">
  <div class="about-me">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, similique reiciendis inventore aspernatur assumenda totam, doloribus quaerat ducimus excepturi qui id corporis, beatae nisi sunt quasi molestiae tenetur eius iure quae? Nemo sed cupiditate iusto quidem a quos dicta eius ipsa aspernatur harum? Libero quod saepe quidem, mollitia odio eligendi explicabo distinctio assumenda vero labore corporis. Velit libero quis cumque.</p>
    <h1 class="about-me__title">About Me</h1>
    <span class="about-me__text__title"><strong>Franco D Rodriguez</strong></span>
    <p class="about-me__text"
       data-aos="fade-right"
       data-aos-duration="2000"
       data-aos-offset="0">
      I'm a {{yearsOld}} years old, currently I'm  living in Tandil, Buenos Aires, Argentina. <br>
      Over time, I was able to discover a great  passion for programming and problem  solving by
      engaging with regular study and  commitment in my continuous learning  development.
      My goal is to be able to add value to  organizations and to continue to develop  professionally my career in this field of work.
    </p>
    <mat-divider class="about-me__mat-divider" ></mat-divider>
    <span class="about-me__text__title"><strong>Skills</strong></span>

      <div class="about-me__text__skills__container"
           data-aos="fade-up"
           data-aos-duration="2000"
           data-aos-offset="0">
        <div *ngFor="let icon of skillsIcons" class="about-me__text__skills">
          <i [class]="icon.path"></i>
          <span class="about-me__text__skills__pop-up">{{icon.name}}</span>
        </div>

        <div *ngFor="let icon of skillsIconsSvg" class="about-me__text__skills">
          <img [class]="icon.class" [src]="icon.path">
          <span class="about-me__text__skills__pop-up">{{icon.name}}</span>
        </div>
      </div>

    <mat-divider class="about-me__mat-divider"></mat-divider>
    <span class="about-me__text__title"><strong>Courses</strong></span>
    <ul data-aos="fade-left"
        data-aos-duration="2000"
        data-aos-offset="0">
      <li *ngFor="let course of courses" class="about-me__text__courses">{{course}}</li>
    </ul>
  </div>

   <button class="about-me__btn about-me__btn--left about-me__anaglyph-efect"
        routerLink="/portfolio/home">
  <i class="about-me__btn__icon fa-sharp fa-solid fa-left-long"></i>
</button>

<button class="about-me__btn about-me__btn--right about-me__anaglyph-efect"
        routerLink="/portfolio/projects">
  <i class="about-me__btn__icon fa-sharp fa-solid fa-right-long"></i>
</button>
</section>
