

@mixin pcScreen($left,$top,$width,$borderRight,$borderLeft,$borderTop){
  left:$left;
  top:$top;
  width:$width;

  //paralelogram
  border-right: $borderRight solid transparent;
  border-left: $borderLeft solid transparent;
  border-top: $borderTop solid #181a1a;
}

@mixin imgBarContainer($borderRight, $height, $left, $top, $width){
  border-right: $borderRight solid rgba(255, 166, 0, 0.466) ;
  height: $height;
  left: $left;
  top: $top;
  width: $width;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -ms-transform: skew(20deg);
  -o-transform: skew(20deg);
  transform: skew(20deg);
}


@mixin imgBar($height,$width){
    background-color: rgb(119, 119, 119);
    border-radius: 50px;
    height: $height;
    width:  $width;
}

@mixin imgAnimatedBarsContainer($height, $left, $padding, $top, $width){
  flex-direction: column;
  height: $height;
  left: $left;
  overflow: hidden;
  padding: $padding;
  top: $top;
  transform: skew(20deg);
  width: $width;
}

.dev-animation__img__pc-screen,
.dev-animation__img__bar__container,
.dev-animation__img__animated-bars__container,
.dev-animation__img__animated-bars__block-container{
  position: absolute;
}

.dev-animation,
.dev-animation__img__bars,
.dev-animation__img__animated-bars
{
  position: relative;
}
.dev-animation,
.dev-animation__img__bars,
.dev-animation__img__animated-bars__container,
.dev-animation__img__animated-bars__block-container{
  display: flex;
}

.dev-animation__img__bars,
.dev-animation__img__animated-bars__container{
    flex-direction: column;
}

.dev-animation,
.dev-animation__img__bars{
  width: 100%;
}

.dev-animation{
  justify-content: center;

  &__img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90vw;
    filter: drop-shadow(0 0 20px rgb(187, 110, 170));
  }

  &__img__pc-screen{
    @include pcScreen(23vw, 19.2vw, 45.4vw, 6.1vw, 6.5vw, 16.9vw )
  }

  &__img__bar__container{
    @include imgBarContainer(0.5px, 16.5vw, 26.1vw, 19.2vw, 12.4vw)
  }

  &__img__bars{
    align-items: center;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    overflow: hidden;
  }

  &__img__bar{
  @include imgBar(0.5vw, 10vw);
  }

  &__img__animated-bars__container{
  @include imgAnimatedBarsContainer(15vw, 40.3vw, 1vw, 19.2vw, 33.8vw );
  }

  .dev-animation__img__animated-bars{
    height: 2vw;
    padding: 0.1vw 0;

    &__block-1{animation: sliding-bars 5s      ease-in-out infinite alternate;}
    &__block-2{animation: sliding-bars 5s 1s   ease-in-out infinite alternate;}
    &__block-3{animation: sliding-bars 5s 1.5s ease-in-out infinite alternate;}
    &__block-4{animation: sliding-bars 5s 2s   ease-in-out infinite alternate;}
    &__block-5{animation: sliding-bars 5s 2.5s ease-in-out infinite alternate;}
    &__block-6{animation: sliding-bars 5s 3s   ease-in-out infinite alternate;}
  }
  .dev-animation__img__bar--coloful{
    background-color: rgba(65, 192, 251);
    filter:  drop-shadow(0 0 80px);
    animation: bar-colors 3s infinite ;
  }

  // animation to slide the bars
  @keyframes sliding-bars {
    0%,50%{
     transform: translate(-40vw);
    }
    60%,100%{
      transform: translate(0);
    }
  }

  // animation to change the bar's color
  @keyframes bar-colors {
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }
}

.dev-animation__img__bar--margin{
  margin: 0.8vw 0.5vw;
}

// diferent size for the bars
.dev-animation__img__bar--big{
  width:16vw ;
}

.dev-animation__img__bar--medium{
  width:10vw ;
}

.dev-animation__img__bar--short{
  width: 3vw;
}

@media (min-width:801px) {

  .dev-animation{
    justify-content: flex-start;
    &__img{
      width: 50vw;
    }

    &__img__pc-screen{
      @include pcScreen(10.2vw, 10.7vw, 25.2vw, 3.3vw, 3.5vw, 9.4vw )

    }

    &__img__bar__container{
      @include imgBarContainer(0.5px, 9vw, 12.3vw, 10.9vw, 5.6vw);
    }

    &__img__bar{
    @include imgBar(0.3vw, 4.8vw);
    }

    &__img__animated-bars__container{
    @include imgAnimatedBarsContainer(7.4vw,17.5vw,0.5vw,10.3vw,25.1vw);
    }

  }

.dev-animation__img__bar--big{
  width:8.8vw ;
}

.dev-animation__img__bar--medium{
  width:5.5vw ;
}

.dev-animation__img__bar--short{
  width: 1.66vw;
}
}

@media (min-width:1025px) {


  .dev-animation{
  &__img{
    width: 30vw;
  }

  &__img__pc-screen{
    @include pcScreen( 6.12vw, 6.42vw, 15.12vw, 1.98vw, 2.1vw, 5.64vw)

  }

  &__img__bar__container{
    @include imgBarContainer(0.5px, 5.4vw, 7vw, 6.4vw, 3.8vw);
  }

  &__img__bar{
  @include imgBar(0.2vw, 2.88vw);
  }

  &__img__animated-bars__container{
  @include imgAnimatedBarsContainer(4.44vw, 10.7vw, 0.5vw, 5.88vw, 10.76vw);
  }
}

.dev-animation__img__bar--big{
  width:4vw ;
}

.dev-animation__img__bar--medium{
  width:3.2vw ;
}

.dev-animation__img__bar--short{
  width: 1.2vw;
}

}

