@import '../../../shared/scss/variables.scss';


@mixin button($bg-color,$color,$padding,$hover-color,$hover-border-color){
  background-color: transparent;
  padding: $padding;
  color: $color;
  border: 0.4px solid $color;
  border-radius: 3px;
  margin-top: 2rem;
  letter-spacing: 3px;
  cursor: pointer;
  z-index: 6;

  &:hover{
    color: $hover-color;
    border: 0.4px solid $hover-border-color;
    background-color: rgba(255, 255, 255, 0.09);
  }
}

@mixin translate($distance){
  transform: translate($distance);
}

@mixin backGroundTextPosition($position1,$position2,$rotate){
  bottom: $position1;
  left: $position2;
  transform: rotate($rotate);
}

.home__text__description,
.home__text__job,
.home__big-letter,
.back-g-text{
  font-weight: bolder;
}
.home__big-letter,
.home__text,
.home__next-section-btn{
  position: absolute;
}

.home,
.home__text__job{
   position: relative;
}
// styles for each backGround green word
.back-g-text{
  font-family: 'Indie Flower', cursive;
  position: absolute;
  color:rgba(0, 128, 0, 0.426);
  font-size: large;

  &--1{
    @include backGroundTextPosition(10%,5%, 75deg)
  }
  &--2{
    @include backGroundTextPosition(20%,33%, 110deg)
  }
  &--3{
    @include backGroundTextPosition(47%,17%, 70deg)
  }
  &--4{
    @include backGroundTextPosition(80%,80%, 140deg)
  }
  &--5{
    @include backGroundTextPosition(47%,53%, 75deg)
  }
  &--6{
    @include backGroundTextPosition(64%,90%, 75deg)
  }
  &--7{
    @include backGroundTextPosition(90%,35%, 7deg)
  }
  &--8{
    @include backGroundTextPosition(94%,1%, 75deg)
  }
}

.home{
 background-repeat: no-repeat;
 background-size: cover;
 display: flex;
 height: 100vh;
 overflow: hidden;
 align-items: center;
 padding-left: 3rem;


  &__text__description{
    margin: 0;
    font-size: 40px;
    line-height: initial;
  }

  &__text{
    left: -10rem;
    opacity: 0;
    z-index: 5;
    transition: 2s;

      &--active{
        @include translate(13rem);
        opacity: 100%;
      }
  }

  &__text__job{
    color: #666
  }

  &__big-letter{
    right: 8%;
    font-size: 0;
    transition:2s;
    opacity: 0;
    z-index: 2;

      &--active{
        text-shadow: 20px 10px $facy-letter-color1, 35px 20px $facy-letter-color3;
        color: $facy-letter-color2;
        transform: rotate(335deg);
        opacity: 100%;
      }
  }

  &__button{
    @include button(transparent, #00ffff, 0.4rem 1.8rem, #01ffffac, #01ffffac);
  }

  &__next-section-btn{
    @include button(transparent, rgb(216, 11, 97), 0.4rem 1.8rem, rgb(255, 17, 116),rgb(255, 17, 116));
    right: 1rem;
    bottom: 3.5rem;
    transition: 2s;

    &__icon{
      padding: 0 0.5rem;
    }

    &:hover::before{
      content: 'ABOUT ME';
    }
  }
}

// MEDIA QUERIES

@media (min-width:320px) {
  .home__big-letter--active{
    font-size: 28rem;
  }

  .home__text--active{
    @include translate(11rem);
  }
}

@media (min-width:480px) {
  .home__big-letter--active{
    font-size: 35rem;
  }

  .home__text--active{
    @include translate(15rem);
  }

}

@media (min-width:801px) {
  .home__text--active{
    @include translate(17rem);
  }
}

@media (min-width:1025px) {

    .home__text--active{
      @include translate(23rem);
    }

    .home__big-letter{
      right: 12%;
    }
 }

@media (min-width:1281px) {
  .home__big-letter{
    right: 16%;
  }
}
