
// VARIABLES
$white-color:#fff;

.chat-bot,
.chat-bot__chat__form,
.chat-bot__open-btn{
  display: flex;
}
.chat-bot__chat,
.chat-bot__chat__form,
.chat-bot__chat__form__input{
  width: 100%;
}

.chat-bot__chat__form__btn,
.chat-bot__chat__form__input{
  backdrop-filter: blur(2px);
  border: none;
}

.chat-bot,
.chat-bot__pop-up-info-board,
.chat-bot__open-btn__container,
.chat-bot__open-btn{
  position: relative;
}

.chat-bot{
  width:75%;
  color: $white-color;
  &__chat{
    position: fixed;
    display: none;
    width: 14rem;
    right: 4.5rem;
    top: 25%;
    z-index: 99;
  }

  &__chat__bot-head{
    height: 1.5rem;
    padding: 0.3rem;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 255, 255, 0.26);
    color: $white-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;

    &__gear-spiner{
      animation: spiner 1s ease-in-out infinite;
    }
  }

  &__chat--active{
    display: block;
  }

  &__open-btn__container{
    position: fixed;
    top: 20%;
    right: 0.3rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
  }

  &__open-btn{
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    margin-left: 0.7rem;
    background-image: linear-gradient(45deg, rgb(128, 0, 128), rgb(255, 165, 0));
    font-size: 23px;
    border-radius: 50%;
    cursor: pointer;

    &:hover{
      transform: scale(1.1);
    }

    &:active{
      transform: scale(0.9);
    }
  }

  &__chat__container-board::-webkit-scrollbar {
    width: 4px;               /* width of the entire scrollbar */
  }
  &__chat__container-board{
    &__board{
      overflow-y: auto;
      width: 13rem;
      height: 13rem;
      padding: 1rem 0.5rem 2.3rem 0.5rem;
      background-color: #00000080;
      backdrop-filter: blur(2px);
      border: none;
      color: $white-color;
      font-family: sans-serif;
      scroll-behavior: smooth;

      &__bot-message,
      &__user-message,
      &__error-message{
        display: block;
        padding: 0.4rem 0.6rem;
        max-width: 75%;
        min-width: 75%;
        font-size: smaller;
      }

        &__bot-message{
          float: left;
          background-color: black;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }

        &__user-message{
          float: right;
          background-color: green;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          border-bottom-left-radius: 8px;
        }

        &__error-message{
          color: rgb(184, 41, 41);
        }
    }
  }
  &__chat__form{
      &__btn{
        border-left: 0.5px solid rgb(207, 207, 211);
        backdrop-filter: blur(2px);
        background: rgba(255, 0, 255, 0.219);
        color: $white-color;
        cursor: pointer;
        padding: 0 0.5rem;

        &:hover{
          background: rgba(255, 0, 255, 0.473);
        }

        &:active{
          transform: scale(0.9);
        }
        &:disabled{
          background-color: grey;
          backdrop-filter: blur(2px);
          color: $white-color;
        }

        &__icon:hover{
          transition: 0.5s ease;
          transform: scale(1.2);
        }
      }

      &__input{
      color: $white-color;
      font-family: sans-serif;
      padding: 0.5rem 0.3rem;
      background-color: rgba(0, 0, 0, 0.851);
    }
  }


  &__pop-up-info-board{
    display: block;
    right: 0.3rem;
    width: 8rem;
    height: 4.8rem;
    top: 36%;
    right: 4rem;
    padding: 0.8rem;
    color: $white-color;
    background-color: rgba(0, 0, 0, 0.851);
    border-radius: 8px;

    &__close-icon{
      position: absolute;
      top: 0.2rem;
      right: 0.2rem;
      padding: 2px;
      cursor: pointer;

      &:hover{
        color: rgb(214, 93, 93)
      }
    }
    &--visible{
      opacity: 0;
      width: 2rem;
    }
  }
}
// Spiner Animation
@keyframes spiner {
  from{ transform: rotate(0deg);}
  to{ transform: rotate(360deg);}
}

// Scroll Bar Styles

.chat-bot__chat__container-board__board::-webkit-scrollbar {
    -webkit-appearance: none;
}

.chat-bot__chat__container-board__board::-webkit-scrollbar:vertical {
    width:2px;
}

.chat-bot__chat__container-board__board::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
}

.chat-bot__chat__container-board__board::-webkit-scrollbar:horizontal {
    height: 5px;
}

.chat-bot__chat__container-board__board::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
}

.chat-bot__chat__container-board__board::-webkit-scrollbar-track {
    border-radius: 10px;
}
