@import '../../../shared/scss/variables.scss';

@mixin actionHover($color){
  color: $color;
  border-color: $color;
}

// mixin to solve the problem with media queries and keyframes
@mixin animationArrow($size1, $size2, $size3){

  @keyframes arrow-motion {

    0%, 25%{
      opacity: 0.5;

    }
    25%,50%{
      opacity: 1;
      top: $size1;
      transform: rotate(90deg);
    }
    50%,75%{
      transform: rotate(280deg);
      top: $size2;
      right: 40%;
    }
    75%,100%{
      transform: rotate(340deg);
      top:$size3;
      right:18%;
      font-size:150px;
      color: $arrow-Color;
    }

  }
}

.my-projects{
  position:relative;
  overflow: hidden;

  &__title{
    margin-left: 1rem;
    margin-top: 5rem;
  }

  &__arrow{
    display: none;
  }

  &__card{
    color: $font-color;
    margin: 0.8rem 0;

    &__header{
      display: flex;
      flex-direction: column;
    }

    &__paragraph{
      margin: 0.5rem 0;
    }
  }

  &__btn{
    padding: 0.5rem 1rem;
    position: fixed;
    color: $font-color;
    font-size: 18px;
    background-color: transparent;
    border: 0.5px solid $font-color;
    border-radius: 100px;
    transition: 1s ease;
    font-weight: 700;
    cursor: pointer;

    &__icon{
      padding: 0 0.5rem;
    }
    &--left,
    &--right{
      bottom: 1rem;
    }

    &--left{
      left: 1rem;

      &:hover{
        box-shadow: 0 0 30px $facy-letter-color1;
        background-color: rgba(0, 0, 0, 0.5);

        &::after{
          content: 'About Me';
          text-shadow: 0 0 5px $facy-letter-color1;
        }
      }
    }

    &--right{
      right: 1rem;
      &:hover{
        box-shadow: 0 0 30px $facy-letter-color2;
        background-color: rgba(0, 0, 0, 0.5);

        &::before{
          content: 'Contact';
          text-shadow: 0 0 5px $facy-letter-color2; ;
        }
      }
    }
  }
}

.my-projects__card__actions__anchor{
  text-decoration: none;
  border: 0.3px solid rgba(102, 102, 102, 0.5);
  color:$font-color;
  margin-left: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: 1s ease;

  &:hover{
    @include actionHover($facy-letter-color2);
  }

  &--aqua:hover{
    @include actionHover($facy-letter-color1);
  }
}

@keyframes arrow-lights {
  0%,50%{
    opacity: 0.2;
  }
  50%,100%{
    opacity: 1;
    filter: drop-shadow(0 0 50px $devAnimationDropShadowColor);
  }
}

// MEDIA QUERIES

@media (min-width:600px) {
  .my-projects__card{
    margin: 1rem;

  }
  .my-projects__card__img{
    max-width: 500px;
  }
}

@media (min-width:801px) {

  .my-projects{
    margin-left: 5rem;

    &__title{
      margin-top: 2rem;
    }

    &__btn--left,
    &__btn--right{
      bottom: 1rem;
    }

    &__btn--left{
      left: 7rem;
    }

    &__btn--right{
      right: 2rem;
    }

    &__arrow{
      position: absolute;
      display: block;
      font-size: 10px;
      top: 5%;
      opacity: 0;
      right: 20%;
      @include animationArrow(10%,5%,65vh);
      animation: arrow-motion 3s ease-in-out forwards, arrow-lights 1s ease-in-out  alternate infinite;
    }

  }
}

@media (min-width:1025px) {

  .my-projects__animation{
    display: block;
    margin-left: 15rem
  }
  .my-projects__arrow{
    @include animationArrow(13%,8%,65vh);
    animation: arrow-motion 3s ease-in-out forwards, arrow-lights 2s ease-in-out 3s alternate infinite;
  }
}

@media (min-width:1281px) {
  .my-projects__arrow{
    @include animationArrow(15%,10%,65vh);
    animation: arrow-motion 3s ease-in-out forwards, arrow-lights 2s ease-in-out 3s alternate infinite;
  }
}
