
<section class="my-projects">
  <h1 class="my-projects__title">My Projects</h1>
  <dev-animation
  class="my-projects__animation"
  data-aos="fade-up-right"
  data-aos-offset="500"
  data-aos-easing="ease-in-sine"/>

  <i class="my-projects__arrow fa-solid fa-down-long"></i>

  <mat-card  *ngFor="let project of projects"
             class="my-projects__card"
             data-aos="fade-up-right"
             data-aos-offset="300"
             >
    <mat-card-header class="my-projects__card__header">
      <mat-card-title>{{project.title}}</mat-card-title>
      <mat-card-subtitle>{{project.subTitle}}</mat-card-subtitle>
      <img class="my-projects__card__img" mat-card-image [src]="project.img" [alt]="project.title">
    </mat-card-header>
    <mat-card-content>
      <p class="my-projects__card__paragraph">
        {{project.paragraph}}
      </p>
      <mat-chip-listbox>
        <mat-chip *ngFor="let chip of project.chip">{{chip}}</mat-chip>
      </mat-chip-listbox>
      <mat-card-actions class="my-projects__card__actions">
        <a [href]="project.code"     target="_blank" class="my-projects__card__actions__anchor my-projects__card__actions__anchor--aqua">CODE</a>
        <a [href]="project.liveDemo" target="_blank" class="my-projects__card__actions__anchor">LIVE DEMO</a>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>

  <button class="my-projects__btn my-projects__btn--left"
          routerLink="/portfolio/about-me">
    <i class="my-projects__btn__icon fa-sharp fa-solid fa-left-long"></i>
  </button>

  <button class="my-projects__btn my-projects__btn--right"
          routerLink="/portfolio/contact">
    <i class="my-projects__btn__icon fa-sharp fa-solid fa-right-long"></i>
  </button>
</section>
