@import '../../../shared/scss/variables.scss';

@mixin actionHover($color){
  color: $color;
  border-color: $color;
}

.div-separador{
  height: 10rem;
}

.my-projects{
  position:relative;

  &__title{
    margin-left: 1rem;
  }

  &__card{
    color: $font-color;
    margin: 0.8rem 0;

    &__header{
      display: flex;
      flex-direction: column;
    }

    &__paragraph{
      margin: 0.5rem 0;
    }
  }

  &__btn{
    padding: 0.5rem 1rem;
    position: fixed;
    color: $font-color;
    background-color: transparent;
    border: 0.5px solid $font-color;
    border-radius: 100px;
    transition: 1s ease;
    font-weight: 700;
    cursor: pointer;

    &__icon{
      padding: 0 0.5rem;
    }
    &--left,
    &--right{
      bottom: 1rem;
    }

    &--left{
      left: 1rem;

      &:hover{
        box-shadow: 0 0 30px $facy-letter-color1;
        background-color: rgba(0, 0, 0, 0.5);

        &::after{
          content: 'About Me';
        }
      }
    }

    &--right{
      right: 1rem;
      &:hover{
        box-shadow: 0 0 30px $facy-letter-color2;
        background-color: rgba(0, 0, 0, 0.5);

        &::before{
          content: 'Contact';
        }
      }
    }
  }
}

.my-projects__card__actions__anchor{
  text-decoration: none;
  border: 0.3px solid rgba(102, 102, 102, 0.5);
  color:$font-color;
  margin-left: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: 1s ease;

  &:hover{
    @include actionHover($facy-letter-color2);
  }

  &--aqua:hover{
    @include actionHover($facy-letter-color1);
  }
}

// MEDIA QUERIES

@media (min-width:600px) {
  .my-projects__card{
    margin: 1rem;

  }
  .my-projects__card__img{
    max-width: 500px;
  }
}

@media (min-width:801px) {

  .my-projects{
    margin-left: 5rem;

    &__btn--left,
    &__btn--right{
      bottom: 1rem;
    }

    &__btn--left{
      left: 7rem;
    }

    &__btn--right{
      right: 2rem;
    }

  }

}
