

@mixin beams($size, $bgColor){
        content:"";
        position: absolute;
        top: calc(50% - calc($size / 2));
        left: calc(50% - calc($size / 2));
        display: block;
        width: $size;
        height: $size;
        background-color: $bgColor;
        border-radius: 50%;
}

@mixin  holeSizeAndPosition($size, $top, $left){
  top:$top;
  left:$left;
  width: $size;
  height: $size;
}


@mixin cloud($top,$color,$zIndex){

  position: absolute;
  color: $color;
  top:$top;
  text-shadow:2px 2px rgba(0,0,0,0.2);
  z-index: $zIndex;
  left: 23rem;
}

.day-night-animation{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__window{
    position: relative;
    overflow: hidden;
    background-color : rgb(14, 10, 37);
    width: 23rem;
    height: 30rem;
    border: 10px solid rgba(156, 99, 18, 0.525);
    outline: 10px solid rgba(193, 138, 62, 0.525);
    border-bottom: 25px solid rgba(156, 99, 18, 0.525);
    border-top-right-radius: 45% ;
    border-top-left-radius: 45% ;
    margin-top: 1rem;
    animation: back-ground-change 30s ease-in-out alternate infinite;
    // TODO:mejorar el efecto glass
    // &:before{
    //   content: "";
    //   position: absolute;
    //   width: 70%;
    //   height: 149%;
    //   background-color: rgba(0, 255, 255, 0.05);
    //   bottom: -2.4rem;
    //   right: 7.8rem;
    //   rotate: 41deg;
    // }

    &__sun{
      position: absolute;
      display: block;
      bottom: -1rem;
      right: 0;
      width: 8rem;
      height: 8rem;
      background-color: rgb(247, 247, 194);
      border-radius: 50%;
      // sun beams
      &::before{
        @include beams(10rem, rgba(247, 247, 194, 0.514));
      }
      &::after{
        @include beams(12.5rem, rgba(247, 247, 194, 0.295));
      }
    }

    &__moon{
      position: absolute;
      display: block;
      width: 7rem;
      height: 7rem;
      background-color: rgb(236, 236, 222);
      border-radius: 50%;
      //moon beams
      &::before{
        @include beams(9rem,rgba(236, 236, 222, 0.247));
      }
      &::after{
        @include beams(11rem, rgba(236, 236, 222, 0.247));
      }

      &__hole{
        position: absolute;
        display: block;
        background-color: rgba(128, 128, 128, 0.137);
        border-radius: 50%;

        //each class is a diferent moon hole
        &--one{
          @include holeSizeAndPosition(2rem, 4rem, 4rem)
        };
        &--two{
          @include holeSizeAndPosition(1rem,0.1rem, 4rem)
        };
        &--tree{
          @include holeSizeAndPosition(0.5rem,4rem, 0.5rem)
        };
        &--four{
          @include holeSizeAndPosition(0.5rem,4.5rem, 1.5rem)
        };
        &--five{
          @include holeSizeAndPosition(0.8rem,0.4rem, 2rem)
        };
        &--six{
          @include holeSizeAndPosition(0.4rem,1.2rem, 2rem)
        };
        &--seven{
          @include holeSizeAndPosition(0.4rem,1.2rem, 2.6rem)
        };
        &--eight{
          @include holeSizeAndPosition(1rem,2.7rem, 5.9rem)
        };
      }
    }

    &__sun__orbit,
    &__moon__orbit{
      display: block;
      position: relative;
      width: 25rem;
      height:25rem;
    }

    &__sun__orbit{
      right: 10rem;
      top: 4rem;
    }

    &__moon__orbit{
      display: flex;
      align-items: end;
      left  : 10rem;
      bottom: 21rem;
    }

    &__sun__orbit--start{
      animation: sun-rotation 30s  ease-in ;
    }

    &__moon__orbit--start{
      animation: moon-rotation 30s ease-in;
    }

    &__hills{
      position: absolute;
      bottom: 0;
      z-index: 1;

      &__1{ animation:  hill-color-change-1 30s alternate infinite; }
      &__2{ animation:  hill-color-change-2 30s alternate infinite; }
      &__3{ animation:  hill-color-change-3 30s alternate infinite; }
      &__4{ animation:  hill-color-change-4 30s alternate infinite; }
      &__5{ animation:  hill-color-change-5 30s alternate infinite; }
      &__6{ animation:  hill-color-change-6 30s alternate infinite; }
      &__7{ animation:  hill-color-change-7 30s alternate infinite; }
      &__8{ animation:  hill-color-change-8 30s alternate infinite; }
    }

    &__cloud__small{
      @include cloud(6rem, rgba(255, 255, 255, 0.658), 2);
      animation: cloud-movement 70s 7s infinite;

      &__container{
        font-size: 4rem;
      }
    }

    &__cloud__big{
      @include cloud(8rem, rgba(255, 255, 255, 0.836), 2);
      animation: cloud-movement 40s 1s infinite;

      &__container{
        font-size: 6rem;
      }
    }

    // &__cat{
    //   position: absolute;
    //   bottom: 0;
    //   left: 5rem;
    //   z-index: 5;
    // }
  }

}

@keyframes back-ground-change{
  0%{
    background-color : #0e0a25;
  }
  100%{
    background-color: #fdae68;
  }
}
@keyframes moon-rotation {
  from{
    transform: rotate(0deg);
  };
  70%,88%{transform:rotate(115deg)};
  to{
    transform: rotate(160deg);
  }
}
@keyframes sun-rotation {
  from{
    transform: rotate(0deg);
  }
  70%,85%{transform:rotate(-130deg)};
  to{
    transform: rotate(-180deg);
  }
}

// Hill-color-change KEY-FRAMES

  @keyframes hill-color-change-1{ 0%{fill:#061036;};100%{ fill: #772240 ;} }
  @keyframes hill-color-change-2{ 0%{fill:#102264;};100%{ fill: #942e53 ;} }
  @keyframes hill-color-change-3{ 0%{fill:#3D6CBD;};100%{ fill: #992455 ;} }
  @keyframes hill-color-change-4{ 0%{fill:#72A6E0;};100%{ fill: #ba4574 ;} }
  @keyframes hill-color-change-5{ 0%{fill:#214093;};100%{ fill: #992455 ;} }
  @keyframes hill-color-change-6{ 0%{fill:#77ABE2;};100%{ fill: #dd538a ;} }
  @keyframes hill-color-change-7{ 0%{fill:#3D6BBC;};100%{ fill: #ba4574 ;} }
  @keyframes hill-color-change-8{ 0%{fill:#224194;};100%{ fill: #992455 ;} }

//cloud animation movement
  @keyframes cloud-movement{
    from{
      transform: translatex(0);
    }
    to{
      transform: translatex(-32rem);
    }
  }

