@import '../scss/variables.scss';


@mixin hoverIconColor($color){
  color: $color;
}

.menu__section{
  position: relative;
  width: 100%;
}

.menu,
.menu__header-icon,
.menu__icon-container,
.menu__social-media{
  display: flex;
  align-items: center;
}

.menu{
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(22, 22, 24, 0.566);
  z-index: 999;

  &__header-icon__letter,
  &__icon:hover{
    @include hoverIconColor($facy-letter-color1)
  }

  &__header-icon{
    background-color: black;
    flex-direction:column;
    height: 100%;
    justify-content: center;
    padding: 0 0.5rem;
  }

  &__header-icon__letter{
    font-size: xxx-large;
    margin: 0;
    margin: 0.5rem;
    text-shadow: 2px 2px  $facy-letter-color2;
  }

  &__social-media{
    border-left: 0.5px solid $facy-letter-color2;
    padding-left: 0.5rem;
   }

  &__icon{
    position: relative;
    cursor: pointer;
    margin: 0.3rem;
    font-size: 25px;

    &:hover .menu__icon__name{
      display: block;
    }

    &__name{
      position: absolute;
      display: none;
      color: $font-color;
      font-size: 10px;
      top:3rem;
      background-color: #000;
      white-space: nowrap;
      padding: 0.5rem;
      z-index: 999;


        &::before{
          content: '';
          position: absolute;
          left: 1rem;
          bottom:100%;
          transform: translateX(-50%);
          border: 1rem solid;
          border-color: #0000 #0000 #000 #0000 ;
        }
    }
  }

  &__social-media{
    padding-right: 0.5rem;
  }

  &__icon-social{
   text-decoration: none;
   color: $font-color;
  }
  &__icon-social:hover{
    @include hoverIconColor($facy-letter-color2);
  }
}

.active{
  color: $facy-letter-color1;
}

// MEDIA QUERIES

@media (min-width:380px) {

  .menu{
    justify-content: space-between;
  }
  .menu__social-media{
    border-left: 0.5px solid $facy-letter-color2;
   }

  }

@media (min-width:801px) {

  .menu{
    flex-direction: column;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 5rem;
    z-index: 999;

      &__icon__name{
        top: 0;
        left: 3rem;

        &::before{
          content: '';
          position: absolute;
          left: -0.5rem;
          bottom: 1.15rem;
          // bottom:100%;
          // transform: translateX(-50%);
          border: 0.6rem solid;
          border-color: #0000 #000 #0000 #0000 ;
        }
      }
      &__header-icon{
        padding: 0.5rem 0;
        width: 100%;
        height: 10%;
      }

      &__icon-container,
      &__social-media{
        display: block;
        text-align: center;
      }

      &__social-media{
        border: none;
        padding-bottom: 1rem;
      }
  }


}


