
<section class="menu__section">
  <nav class="menu">
    <div class="menu__header-icon">
      <h1 class="menu__header-icon__letter">F</h1>
      <span>Franco</span>
    </div>
    <div class="menu__icon-container">
      <div class="menu__icon"
            *ngFor="let item of menu"
            [routerLink]="item.route">
        <i  [routerLinkActive]="'active'"
            [class]="item.class">
        </i>
        <span class="menu__icon__name">{{item.name}}</span>
      </div>
    </div>
    <div class="menu__social-media">
      <a *ngFor="let item of socialMedia"
          [href]="item.route">
          <i [class]="item.class"></i>
          <!-- TODO:arreglar todo por una ANIMACION -->
      </a>
    </div>
  </nav>
</section>

