@import '../src/app/shared/scss/variables.scss';


*{
  margin: 0;
  padding:auto;
}

body {
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $body-bc;
  color:$font-color;
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width:2px;
}

body::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar:horizontal {
  height: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
}
