@import '../src/app/shared/scss/variables.scss';


*{
  margin: 0;
  padding:auto;
}

body {
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $body-bc;
  color:$font-color;
  height: 100vh;
}
